@import url(https://fonts.googleapis.com/css?family=Nunito);.module-list {
  background: #0000004a;
  padding: 4%;
  border-bottom: 2px solid #b31717;
  border-radius: 5%;
}

.module-list:hover {
  background: black;
  padding: 4%;
  border-bottom: 2px solid #b31717;
  border-radius: 5%;
}

.module-list a {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  width: 100%;
}

.add-btn {
  border: 1px solid #fff;
  margin-top: 5px;
  padding: 6px;
  border-radius: 15px;
}

.add-btn:hover {
  background: #977d85;
}

.add-btn a {
  color: #fff;
}

.logout {
  background: white;
  border: 0;
  outline: none;
}

